* {
    font-family: 'Noto Sans KR';
}

.about {
    
    width: 1440px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    margin: 25px auto 60px;
    color: #149B3B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleHouse {
    width: 1400px;
    height: 700px;
    margin: 0 auto 0 auto;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}

.circle {
    border: 5px solid #149B3B;
    border-radius: 60%;

    width: 400px;
    height: 400px;

    float: left;
    position: relative;
    display: flex;
    align-items: center;

    display: none;
}

.charincircle {
    margin: 0 auto;

    text-align: center;
}

.aboutustitle {
    font-family: 'Noto Sans KR';
    font-weight: bold;
    margin-top: 70px;
    font-size: 72%;
    color: #149B3B;
    margin-bottom: 0;
}

.aboutustitle-kr {
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 60%;
    color: #4D4D4D;
    margin-top: 10px;
}

.aboutuscontent {
    line-height: 150%;
    width: 100%;
    font-family: 'Noto Sans KR';
    font-size: 45%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}