@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


@font-face {
    font-family: 'cafe24Ssurround';
    font-style: 'normal';
    font-weight: 400;
    src: url('../font/Cafe24Ssurround-v2.0.woff2') format('woff2'),
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR';

}

.wrap {
    min-width: 1920px;
}

/* Top Button */
.topBtn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    background-image: url(../img/upImage2.png);
    background-size: contain;

    cursor: pointer;
}

/* header */
.header_up {
    background-color: #149B3B;
    position: relative;
    width: 100%;
    min-width: 1920px;
    height: 431px;
    margin: 0 auto;
    padding: 0;
    display: block;
}
.header_up > img {
    width: 1920px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.headerTitleBox {
    font-family: 'cafe24Ssurround';

    height: 141px;
    background-color: white;
    border-radius: 116px;
    padding: 6px 35px;
    font-size: 100px;
    color: #149B3B;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    position: absolute;
    top: 257px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    line-height: 150%;
}

/* About Us */
* {
    font-family: 'Noto Sans KR';
}

.about {
    
    width: 1440px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    margin: 25px auto 60px;
    color: #149B3B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleHouse {
    width: 1400px;
    height: 700px;
    margin: 0 auto 0 auto;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}

.circle {
    border: 5px solid #149B3B;
    border-radius: 60%;

    width: 400px;
    height: 400px;

    float: left;
    position: relative;
    display: flex;
    align-items: center;

    display: none;
}

.charincircle {
    margin: 0 auto;

    text-align: center;
}

.aboutustitle {
    font-family: 'Noto Sans KR';
    font-weight: bold;
    margin-top: 70px;
    font-size: 72%;
    color: #149B3B;
    margin-bottom: 0;
}

.aboutustitle-kr {
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 60%;
    color: #4D4D4D;
    margin-top: 10px;
}

.aboutuscontent {
    line-height: 150%;
    width: 100%;
    font-family: 'Noto Sans KR';
    font-size: 45%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Balance game */
#gameTitle {
    padding: 0px 0px 20px 0px;
    color: #149b3b;
    text-align: center;
}

.box {
    margin: 20px 0px 60px 0px;
}

.box_row1 {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px;
    grid-template-rows: 30px 30px;
    justify-content: center;
}

.box_row2 {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 30px 30px;
    justify-content: center;
}

.balanceGame {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 197, 59);
    color: white;
    box-shadow: 0 4px 6px rgba(9, 87, 11, 0.3);
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
}

.balanceGame:hover {
    background-color: rgb(23, 165, 37);
    color: white;
    cursor: pointer;
}

.mid_image {
    text-align: center;
    padding: 95px 0px 95px 0px;
    background-image: url("../img/mid_image.jpg");
    background-size: cover;
    background-position: center;
}

#mid_title {
    width: 360px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px auto;
    background-color: #149b3b;
    color: white;
    border-radius: 30px;
}
/* profile */
.profile_title {
    color: #149B3B;
    height: 250px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    min-width: 1440px !important;
    text-align: center;
    margin: 0 auto 0 auto;
}

.row {
    margin-bottom: 150px;
}

.card {
    color: #fff;
    margin: 0 auto;
    width: 400px;
    height: 600px;
    background-color: #6FCA3D;
    border: none;
    border-radius: 30px;
    align-items: center;
    justify-content: center;  
    left:0px;
    animation: slide 1.5s ease;
    transition: transform .5s;
}
.card:hover {
    transform: scale(1.1);
}
@keyframes slide {
    from {
            left:-1000px;
            opacity: 0;
    }
    to {
        left:0px;
        opacity: 1;
    }
}
.card-title {
    font-family: 'Noto Sans KR';
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}
.card-text {
    line-height: 1.5;
    margin-top: 10px;
}
.card-text strong {
    font-weight: bold;
}
.card>img {
    width: auto;
    height: 250px;
}

.card-body {
    font-size: 20px;
}

.mbti {
    font-size: 40px;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    filter: brightness(0.8);
    color: black;
    text-decoration: none;
}